PORT=4000
MONGODB_URI=mongodb+srv://USUARIO:SENHA@SEU_CLUSTER.mongodb.net/fogao_a_lenha?retryWrites=true&w=majority
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
JWT_SECRET=troque-essa-chave-por-uma-chave-grande-e-segura
